*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
    
}

img {
	display: block;
	max-width: 100%;
}

 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400;1,900&family=Open+Sans:wght@600;800&display=swap'); 

 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,900&family=Open+Sans:wght@600;800&display=swap');



.containerfon{
    background: #222222;
    position: relative;
}
.container{
    max-width: 1140px;
    margin: 0  auto;
    background: #E5E5E5;

}

.navigation{
    
    height: 75px;
    display: flex;
    justify-content: space-between;
    background: #222222;
}

.nav1{
    display: flex;
    gap: 41px;
    align-items: center;
    margin-left: 20px;
}

.nav2{
    display: flex;
    gap: 33px;
    align-items: center;
    margin-right: 20px;
}




.nav2cart{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.nav2cart_img{
    display: block;
    position: absolute;
    top: 20%;
    bottom: 80%;
    left: 0%;
    right: 100%
} 

.nav2cart_circle{
    display: block;
    position: absolute;
    top: 5%;
    bottom: 95%;
    left: 43%;
    right: 57%;

}
.nav2cart_number{
    display: block;
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    top: 10%;
    bottom: 90%;
    left: 56%;
    right: 44%;
}



.popup_menu_hidden{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 634px;
    opacity: 0; 
    z-index:99;
}
.active{
    /* display: block; */
    opacity: 1;
}

.popup_menu{
    display: inline;
    position: absolute;
    width: 232px;
    height: 634px;
    background-color: white;
    /* left: 86.3%; */
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.popup_menu_h3{
margin-top: 32px;
margin-bottom: 24px;
margin-left: 33px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.popup_menu_blok{
    margin-bottom: 20px;
    margin-left: 33px;
}
.popup_menu_h3_zagolovok{
    margin-bottom: 12px;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #F16D7F;
}
.popup_menu_h3_items{
    margin-bottom: 11px;
    margin-left: 21.5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

























.box1{ 
    display: flex;
    justify-content: space-around;
    background: #F1E4E6;
    margin-bottom: 65px;
}

.box1content{
    width: 1140px;
    height: 764px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.box1bigpict{
    display: flex;
    justify-content: center;
    height: 764px;
}

.box1tile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 290px;
    padding-bottom: 381px;
}

.bordertitle{
    width: 12px;
    height: 92px;
    background: #F16D7F;
}

.maintitle{
    margin-left: 16px;
}

.maintitle_h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
}
.maintitle_h2{
    display: flex;
    

}

.maintitle_h2_1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #222222;
}

.maintitle_h2_2{
    margin-left: 8px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;
    color: #F16D7F;
}

.containerbox2box3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 470px;
    gap: 30px;
    margin-bottom: 96px;
    max-width: 1140px;
}

.box2card1{
    position: relative;
    display: inline-block;
    width: 360px;
    height: 260px;
    background-image:url(./img/Box2Pict1.png) ;
}



.box2card1 .box2pict1span1 {
    width: 100px;
    height: 25px;
    
    color:#ffffff;
    position: absolute;
    
    right: 65%;
    left: 35%;
    top: 40%;
    bottom: 60%;
    
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.box2card1 .box2pict1span2 {
    width: 200px;
    height: 30px;
    
    color:#F16D7F;
    position: absolute;

    right: 80%;
    left: 20%;
    top: 50%;
    bottom: 50%;
    
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
}




.box2card2{
    position: relative;
    display: inline-block;
    width: 360px;
    height: 260px;
    background-image:url(./img/Box2Pict2.png) ;
}

.box2card2 .box2pict2span1 {
    width: 100px;
    height: 25px;
    color:#ffffff;
    position: absolute;
    
    left: 35%;
    right: 65%;
    top: 40%;
    bottom: 60%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.box2card2 .box2pict2span2 {
    width: 200px;
    height: 30px;
    
    color:#F16D7F;
    position: absolute;

    left: 21%;
    right: 79%;
    top: 50%;
    bottom: 50%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
}



.box2card3{
    position: relative;
    display: inline-block;
    width: 360px;
    height: 260px;
    background-image:url(./img/Box2Pict3.png) ;
}
.box2card3 .box2pict3span1 {
    width: 150px;
    height: 25px;
    color:#ffffff;
    position: absolute;
    
    left: 27%;
    right: 73%;
    top: 40%;
    bottom: 60%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.box2card3 .box2pict3span2 {
    width: 200px;
    height: 30px;
    
    color:#F16D7F;
    position: absolute;

    left: 21%;
    right: 79%;
    top: 50%;
    bottom: 50%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
}


.box2card4{
    width: 1140px;
    height: 180px;
    position: relative;
    display: inline;
    background-image:url(./img/Box2Pict4.png) ;
    
    grid-column: span 3;
}

.fon_gr_4{
    display: inline;
    position: absolute;
    top: 0%;
    /* bottom: 60%; */
    height: 100%;

}
.box2card4 .box2pict4span1 {
    width: 200px;
    height: 25px;
    color:#ffffff;
    position: absolute;
    
    left: 41%;
    right: 59%;
    top: 40%;
    bottom: 60%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.box2card4 .box2pict4span2 {
    width: 200px;
    height: 30px;
    
    color:#F16D7F;
    position: absolute;

    left: 41%;
    right: 59%;
    top: 54%;
    bottom: 46%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
}

.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    
   

}
.box3Zagolovok1{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    color: #222222
}
.box3Zagolovok2{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #9F9F9F;
    margin-bottom: 48px;
}

.box3grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 49px;
    
}















.box3gridcard{
    background: #F8F8F8;
}

.box3img1{
    display: flex;
    position: absolute;
    width: 360px;
    height: 420px;
    background: #F7E4E2;
    justify-content: center;
    margin-bottom: 25px;
}

.box3img_fon_and_boxcart{
    position: relative;
    width: 360px;
    height: 420px;
    margin-bottom: 25px;
    opacity: 0;
}
.box3img_fon_and_boxcart:hover{
    position: relative;
    width: 360px;
    height: 420px;
    margin-bottom: 25px;
    opacity: 1;
}

.box3img1_addtocart_boxcart{
    position: absolute;
    width: 138px;
    height: 43px;
    border: 1px solid #FFFFFF;
    top: 45%;
    left: 30%;
    opacity: 1;
}
.box3img1_fon{
    position: absolute; 
    display: inline;
    width: 360px;
    height: 420px; 
    opacity: 0.7;
}
.addtocadt_img{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20%;
    left: 10%;
    opacity: 1;
}
.addtocadt_text{
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    top: 25%;
    left: 35%;
    color: #FFFFFF;
    opacity: 1;
}






.box3img2_box{
    display: flex;
    position: absolute;
    justify-content: center;
    background: #F7E4E2;
    width: 360px;
    height: 420px; 
}


.box3img2{
    display: flex;
    position: absolute;
    background: #F7E4E2;
    margin-bottom: 25px;

}


.box3gridtitle{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
    margin-left: 18px;
    margin-right: 18px;
}

.box3griddescription{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 18px;
    margin-left: 18px;
    margin-right: 18px;
}

.box3gridprice{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 18px;
    margin-right: 18px;
    /* margin-bottom: 16px; */
    padding-bottom: 20px;
}

.box3img3{
    display: flex;
    position: absolute;
    width: 360px;
    height: 420px;
    background: #F7E4E2;
    justify-content: center;
    margin-bottom: 25px;
}
.box3img4{
    display: flex;
    position: absolute;
    width: 360px;
    height: 420px;
    background: #F7E4E2;
    justify-content: center;
    margin-bottom: 25px;
}
.box3img5{
    display: flex;
    position: absolute;
    width: 360px;
    height: 420px;
    background: #F7E4E2;
    justify-content: center;
    margin-bottom: 25px;
}
.box3img6{
    display: flex;
    position: absolute;
    width: 360px;
    height: 420px;
    background: #F7E4E2;
    justify-content: center;
    margin-bottom: 25px;
}






.footerbutton{
    width: 211px;
    height: 47px;
    border: 1px solid #FF6A6A;
    background: #ffffff;
    margin-bottom: 95px;
}
.footerbutton:hover{
    width: 211px;
    height: 47px;
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    margin-bottom: 95px;
   
    
}

.footerbuttontext{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    color: #F26376;
}
.footerbuttontext:hover{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
}





.footerblock_1{
    display: flex;
    background: #222224;
    justify-content: center;
    padding-top: 103px;
    padding-bottom: 104px;
}
.footerblock_1_cards{
    display: flex;
    width: 1140px;
    justify-content: space-between;
}
.footerblock_1_Card_ {
    display: flex;
    width: 360px;
    height: 134px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.footerblock_1_h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    /* identical to box height */
    color: #FBFBFB;
}
.footerblock_1_p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB ;
}



.footerblock_2{
   
     background-image: url("./img/footerblock_2_Pict_fon.png")  ; 
     background-repeat:no-repeat;
     background-position:center; 
     background-size: cover;
    width: 100%;
    height: 448px;
    align-content: center;
    
    
}
.footerblock_2_cards{
    display: flex;
    height: 100%;
    background: rgba(244, 244, 244, 0.7);
    align-items: center;
    justify-content: center;
}
.footerblock_2_card_1{
    display: flex;
    width: 360px;
    height: 225px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.footerblock_2_card_1_pict1{
    margin-bottom: 20px;
}



.footerblock_2_card_2{
    display: flex;
    width: 557px;
    height: 142px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footerblock_2_flex{
    display: flex;
    width: 1140;
    justify-content: center;
    align-items: center;
}
.footerblock_2_card_1_p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

color: #222224;
}
.h3_footer{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    /* or 40px */
    text-align: center;
    color: #222224;
}
.h4_footer{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 40px */
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}


.inputbutton{
    display: flex;
    width: 357px;
    height: 49px;
    border: none;
    background: transparent;
}
.email-field__input{
    background: transparent;
     background-image: url("./img/inputemail.png"); 
    border: none;
    width: 256px;
    height: 49px;
    box-sizing: none;
    text-decoration: none;
    padding-left: 30px;
} 

.footerbuttonSubscribe{
    border: none;  
}
.footerbuttonSubscribetext{
    background-image: url("./img/button_subscribe.svg");
    width: 100px;
    height: 49px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-left: 17px;
}







.footerblock_3{
    display: flex;
    background: #222224;
    height: 80px;
    justify-content: center;
    align-items: center;

}
.footerblock_3_cadrs{
    display: flex;
    width: 1140px;
    align-items: center;
    justify-content: space-between;
}


.footerblock_3_cadr_1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #FBFBFB;
}

.footerblock_3_cadr_2{
    display: flex;
    gap: 8px;
}
.footerblock_3_cadr_2_socials{
    display: flex;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
}
.footerblock_3_cadr_2_socials:hover{
    display: flex;
    width: 32px;
    height: 32px;
    background: #F16D7F;
    align-items: center;
    justify-content: center;
}









@media(min-width: 768px) and (max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .navigation{
        height: 74px;
        display: flex;
        justify-content: space-between;
        background: #222222;
    }

    .nav2cart{
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
    }

    .nav2cart_img{
        display: block;
        position: absolute;
        top: 20%;
        bottom: 80%;
        left: 0%;
        right: 100%
    } 

    .nav2cart_circle{
        display: block;
        position: absolute;
        top: 5%;
        bottom: 95%;
        left: 43%;
        right: 57%;

    }
    .nav2cart_number{
        display: block;
        position: absolute;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        top: 10%;
        bottom: 90%;
        left: 56%;
        right: 44%;
    }

    
   




    .box1content{
        width: 768px;
        height: 368px;
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
    .box1bigpict{
        display: flex;
        justify-content: center;
        width: 386px;
        height: 368px;
    }
    .box1tile{
        padding-top: 0px;
        padding-bottom:0px; 
        width: 386px;
        height: 368px;
    }
    
    .maintitle_h1{
        font-size: 44px;
        line-height: 52px;
    }
    .maintitle_h2_1{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    
    .maintitle_h2_2{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }


    .box2{
        max-width: 734px;
        height: 300px;
        gap: 19px;
        margin-bottom: 109px;
        
    }
    .box2card1{
        
        width: 232px;
        height: 168px;
       
        /* background-size: 100%; */
    }
    .box2card1 .box2pict1span1 {
        right: 70%;
        left: 30%;
        top: 37%;
        bottom: 63%; 
    }
    .box2card1 .box2pict1span2 {
        right: 90%;
        left: 10%;
        top: 52%;
        bottom: 48%;
    }

    .box2card2{
        width: 232px;
        height: 168px;
        background-size: 100%;
    }
    .box2card2 .box2pict2span1 {
        right: 69%;
        left: 31%;
        top: 37%;
        bottom: 63%; 
    }
    .box2card2 .box2pict2span2 {
        right: 90%;
        left: 10%;
        top: 52%;
        bottom: 48%;
    }

    .box2card3{
        width: 232px;
        height: 168px;
        background-size: 100%;
    }
    .box2card3 .box2pict3span1 {
        right: 80%;
        left: 20%;
        top: 37%;
        bottom: 63%; 
    }
    
    .box2card3 .box2pict3span2 {
        right: 90%;
        left: 10%;
        top: 52%;
        bottom: 48%;
    }
    .box2card4{
        width: 734px;
        height: 116px;
        /* background-size: 100%; */
    }
    
    .box2card4_img{
        position: absolute;
        display: inline;
        width: 343px;
        height: 111px;
        /* background-size: 100%; */
    }
    .fon_gr_4{
        display: inline;
        position: absolute;
        height: 100%;
        top: 0px;
    }

    .box2card4 .box2pict4span1 {
        left: 37%;
        right: 63%;
        top: 30%;
        bottom: 70%;
    }
    
    .box2card4 .box2pict4span2 {
        left: 37%;
        right: 63%;
        top: 54%;
        bottom: 46%;
    }
    .box3Zagolovok2{
       
        margin-bottom: 73px;
    }
    .box3grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
        margin-bottom: 32px;
        max-width: 734px;
        
    }

    /* .box3img2_img{
        display: none;
    } */



    
    .box3img2{
        position: relative;
        background-image: url("./img/Box3img2.png");
        /* background: #F7E4E2; */
        background-repeat: no-repeat;
        background-position: 45%;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 25px;
        
    }
    .box3img2_fon{
        position: absolute;
        display: inline;
        width: 360px;
        height: 420px;
        
    }
    .box3img2_addtocart{
        display: flex;
        position: absolute;
        top: 45%;
        bottom: 55%;
        width: 138px;
        height: 43px;
        border: 1px solid #FFFFFF;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        
    }
    .addtocadt_img{
        display: block;
        width: 26px;
        height: 24px;
    }
    .addtocadt_text{
        display: block;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #FFFFFF;
        margin-left: 11px;
    }
    .footerblock_1{
        padding-top: 50px;
    padding-bottom: 50px;
    }
    .footerblock_1_cards{
        justify-content: center;
        flex-wrap: wrap;
       padding-left: 150px;
       padding-right: 150px;
    }
    .footerblock_2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        /* padding-left: 350px;
        padding-right: 350px; */
        
    }
    .footerblock_2_flex{
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    .footerblock_2_cards{
        width: 100%;
    }
}

@media(min-width: 375px) and (max-width: 768px) {
    .container{
        max-width: 375px;
    }
    .nav2cart{
        display: none;
    }

    .nav2pict4{
        display: none;
    }

    .maincontent{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box1{
        width: 100%;
        height: 363px;
    }

    .box1content{
        grid-template-columns: 1fr;
        width: 375px;
        height: 363px;
    }
    .box1tile{
        padding-top: 0px;
        padding-bottom: 0px;
        justify-content: center;
        align-items: center;
    }
    .box1bigpict{
        display: none;
    }
    .bordertitle{
        margin-top: 10px;
        width: 12px;
        height: 61px;
    }
    .maintitle{
       width: 250px;
       height: 66px;
    }


    .maintitle_h1{
        font-size: 38px;
        line-height: 45px;
    }
    .maintitle_h2_1{
      
        font-size: 20px;
        line-height: 24px;
        
    }
    .maintitle_h2_2{
        font-size: 20px;
        line-height: 24px;
    }

    
    .containerbox2box3 {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        display: grid;

        
    }
    .box3{
        display: grid; 
        max-width: 375px;
        justify-items: center;
    }
    .box3grid {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 16px;
        /* margin-bottom: 49px; */
    }

    .box3img {
        
        width: 359px;
        height: 418px;
        margin-bottom: 25px;
        
    }
    .box3gridcard {
        background: #F8F8F8;
        width: 359px;
    }
    

    .box2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        height:fit-content ;
        gap: 32px;
        /* margin-bottom: 64px; */
        width: 375px;
        justify-items: center;
        margin-bottom: -50px;
    }
    .box2card1 {
        
        width: 343px;
        height: 248px;
        
    }
    .box2card1 .box2pict1span1 {
        left: 36%;
        /* right: 80%; */
        top: 43%;
        /* bottom: 70%; */
    }
    
    .box2card1 .box2pict1span2 {
        left: 22%;
        /* right: 80%; */
        top: 54%;
        /* bottom: 46%; */
    }
    .box2card2 {
        
        width: 343px;
        height: 248px;
        
    }
    .box2card2 .box2pict2span1 {
        left: 36%;
        /* right: 80%; */
        top: 43%;
        /* bottom: 70%; */
    }
    
    .box2card2 .box2pict2span2 {
        left: 22%;
        /* right: 80%; */
        top: 54%;
        /* bottom: 46%; */
    }
    .box2card3 {
        
        width: 343px;
        height: 248px;
        
    }
    .box2card3 .box2pict3span1 {
        left: 29%;
        /* right: 80%; */
        top: 43%;
        /* bottom: 70%; */
    }
    
    .box2card3 .box2pict3span2 {
        left: 22%;
        /* right: 80%; */
        top: 54%;
        /* bottom: 46%; */
    }

    .box2card4 {
        width: 343px;
        height: 111px;
        
        background-image: none;
        grid-column: 1;
    }
    .box2card4 .box2pict4span1 {
        left: 21%;
        /* right: 80%; */
        top: 30%;
        /* bottom: 70%; */
    }
    
    .box2card4 .box2pict4span2 {
        left: 21%;
        /* right: 80%; */
        top: 54%;
        /* bottom: 46%; */
    }
    .fon_gr{
        width: 100%;
        height: 100%;
        
    }
    .footerblock_1{
        padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    }
    .footerblock_1_cards{
        justify-content: center;
        flex-wrap: wrap;
       padding-left: 100px;
       padding-right: 100px;
    }
    .footerblock_2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        /* padding-left: 350px;
        padding-right: 350px; */
        
    }
    .footerblock_2_flex{
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    .footerblock_2_cards{
        width: 100%;
    }
    .footerblock_3{
        height: 143px;

    }
    .footerblock_3_cadrs{
        flex-direction: column-reverse;

    }
    .footerblock_3_cadr_1{
        margin-bottom: 10px;
    }
    .footerblock_3_cadr_2{
        margin-bottom: 40px;
        margin-top: 50px;
    }
}